/* フッター */
footer {
  background-color: #003D52;
}

footer ul {
  font-size: 14px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin: auto;
}

footer ul li a {
  color: #fff;
}

footer p {
  font-size: 12px;
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
  color: #fff;
}

footer ul li:hover {
  opacity: .8;
}

@media (max-width: 1020px) and (min-width: 700px) {
  footer ul {
    font-size: 13px;
  }

  footer p {
    font-size: 11px;
  }
}

@media (max-width: 700px) {
  footer ul {
    font-size: 12px;
    width: 300px;
  }

  footer p {
    font-size: 10px;
  }
}
